<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF=8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Session</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/icon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>

    <div class="main">

        <div class="header">

        <nav>

            <div class="logo">
                <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='images/logo.png') }}"></a>
            </div>

            <div class="menu">
                <ul>
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
                    <li><a href="{{ url_for('account') }}">Account</a></li>
                </ul>
            </div>

        </nav>

        </div>

        <div class="dashboard categories">
            
            <h1>Categories</h1>
            
            <!--Remember to change categories here in addition to the javascript file :)-->
            <ul>
                <!--While changing dashboard categories in session.java, remember to change them here.-->
                <li>
                    <a href="{{ url_for('session', category='Pets') }}"><img src="{{ url_for('static', filename='images/folder.png') }}"></a>
                    <p id="i1"></p>
                    <div class="progress" style="width: 100px"><div class="fill" id="p1"></div></div>
                </li>
                <li>
                    <a href="{{ url_for('session', category='School') }}"><img src="{{ url_for('static', filename='images/folder.png') }}"></a>
                    <p id="i2"></p>
                    <div class="progress" style="width: 100px"><div class="fill" id="p2"></div>
                </li>
                <li>
                    <a href="{{ url_for('session', category='Friends') }}"><img src="{{ url_for('static', filename='images/folder.png') }}"></a>
                    <p id="i3"></p>
                    <div class="progress" style="width: 100px"><div class="fill" id="p3"></div>
                </li>
                <li>
                    <a href="{{ url_for('session', category='Sports') }}"><img src="{{ url_for('static', filename='images/folder.png') }}"></a>
                    <p id="i4"></p>
                    <div class="progress" style="width: 100px"><div class="fill" id="p4"></div>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="{{ url_for('session', category='Sarcasm') }}"><img src="{{ url_for('static', filename='images/folder.png') }}"></a>
                    <p id="i5"></p>
                    <div class="progress" style="width: 100px"><div class="fill" id="p5"></div>
                </li>
                <li>
                    <a href="{{ url_for('session', category='Texting') }}"><img src="{{ url_for('static', filename='images/folder.png') }}"></a>
                    <p id="i6"></p>
                    <div class="progress" style="width: 100px"><div class="fill" id="p6"></div>
                </li>
                <li>
                    <a href="{{ url_for('session', category='Summer') }}"><img src="{{ url_for('static', filename='images/folder.png') }}"></a>
                    <p id="i7"></p>
                    <div class="progress" style="width: 100px"><div class="fill" id="p7"></div>
                </li>
                <li>
                    <a href="{{ url_for('session', category='Theater') }}"><img src="{{ url_for('static', filename='images/folder.png') }}"></a>
                    <p id="i8"></p>
                    <div class="progress" style="width: 100px"><div class="fill" id="p8"></div>
                </li>
            </ul>

        </div>

    </div>

    <div class="banner">

    </div>

    <script src="{{ url_for('static', filename='session.js') }}"></script>

</body>
</html>