*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.main{
    width: 100%;
    height: 90vh;
    position: relative;
    overflow: hidden;
    background: #F3F3F3;
}

.landingMain {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: #F3F3F3;
}

.banner{
    width: 100%;
    height: 10vh;
    position: relative;
    overflow: hidden;
    background: #203640;
}

.header{
    width: 100%;
    height: 9%;
    position: fixed;
    z-index: 1;
    display: flex;
    align-items: center;
    background: #F3F3F3;
}

nav{
    width: 80%;
    position: sticky;
    margin: 20px auto;
    z-index: 1;
    display: flex;
    align-items: center;
}

.logo{
    flex-basis: 20%;
}
.logo img {
    width: 150px;
}

.menu {
    flex: 1;
    text-align: right;
    z-index: 1;
}

.menu ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    text-align: center;
}
.menu ul li a{
    color: #203640;
    text-decoration: none;
}

.dashboard{
    margin: 0px;
    margin-top: 100px;
    flex: 1;
    text-align: center;
}
.dashboard h1{
    position: static;
    color: #203640;
    text-align: center;
    margin-bottom: 40px;
}
.dashboard img{
    width: 100px;
}
.dashboard ul li{
    list-style: none;
    display: inline-block;
    margin-bottom: 35px;
    margin-right: 40px;
    transform: translateX(30px);
    text-align: center;
}
.dashboard ul li a{
    color: #203640;
    text-decoration: none;
}
.dashboard p{
    margin-top: 5px;
}
.row2{
    transform: translateX(-10px);
}

#circle{
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    background: none;
    transform: rotate(0deg);
    transition: 1s;
}

.info{
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: 55%;
    left: -10%;
    transform: translateY(-50%);
}

.feature img{
    width: 70px;
}
.feature{
    position: absolute;
    display: flex;
    color: #203640;
}
.feature div{
    margin-left: 30px;
}
.feature div p{
    margin-top: 8px;
}
.one{
    top: 450px;
    right: 50px;
    transform: rotate(0deg);
}
.two {
    top: 150px;
    left: 350px;
    transform: rotate(-90deg);
}
.three{
    bottom: 450px;
    left: 50px;
    transform: rotate(-180deg);
}
.four{
    bottom: 150px;
    right: 350px;
    transform: rotate(-270deg);
}

.controls{
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}
.controls h3{
    margin: 15px 0;
    color: white;
}
#upbtn{
    width: 15px;
    cursor: pointer;
}
#dwnbtn{
    width: 15px;
    cursor: pointer;
    transform: rotate(180deg);
}

.overlay{
    width: 0;
    height: 0;
    border-top: 500px solid #203640;
    border-right: 500px solid transparent;
    border-bottom: 500px solid #203640;
    border-left: 500px solid #203640;;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
}

.progress {
    height: 7px;
    width: 100px;
    margin-top: 10px;
    background-color: lightgray;
    border-radius: 20%;
}

.categories img{
    width: 85px;
}