<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/icon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="main">
        <div class="header">
            <nav>
                <div class="logo">
                    <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo"></a>
                </div>
                <div class="menu">
                    <ul>
                        <li><a href="{{ url_for('index') }}">Home</a></li>
                        <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
                        <li><a href="{{ url_for('account') }}">Account</a></li>
                    </ul>
                </div>
            </nav>
        </div>

        <div class="landingMain">
            
            <section id="about">
                <h2>About OnCall</h2>
                <p>OnCall is a unique and innovative solution designed to help individuals with autism practice their social skills through role play scenarios using generative AI and convolutional neural networks. The software tool aims to provide a supportive and interactive platform for children to engage in role-playing activities, enhancing their social and communication skills.</p>
            </section>

            <a href="#sign-in" class="button">Sign in</a>

            <a href="#learn-more" class="button" onclick="window.location.href='https://www.autismspeaks.org/resource-guide';">Learn More</a>
    
            <section id="how-it-works">
                <h2>How It Works</h2>
                <div class="video">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/4w89XpGhPi4" frameborder="0" allowfullscreen></iframe>
                </div>
            </section>

        </div>
    
    </div>

    <div class="banner"></div>

</body>

</html>
